<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945615833946-561i7bao0kiuhl7okaesmskvtdg770c0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945615833946-561i7bao0kiuhl7okaesmskvtdg770c0</string>
	<key>API_KEY</key>
	<string>AIzaSyCHrMxJSoR9yYp3bEpK1h5aVbPtO_KAMdU</string>
	<key>GCM_SENDER_ID</key>
	<string>945615833946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramTwoRecord</string>
	<key>PROJECT_ID</key>
	<string>instaclone-v2-record-3b415</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-v2-record-3b415.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945615833946:ios:47d576fe5dc5b2e479c163</string>
</dict>
</plist>